
<!DOCTYPE html>
<html lang="fr">    
    <head>
        <!-- encodage de la page -->
        <meta charset="utf-8"/>
        <!-- petite déscription du site pour les robots google .... -->
        <meta name="description" content="description de la page"/>
        <!-- balise meta keywords permettant un bon référencement naturel supplémentaire -->
        <meta name="keywords" content="mots-clé1, mots-clé2, ..."/>

        <!-- attribution d'un titre à la page internet -->
        <title>Alice Vision</title>
        <!-- appel de la feuille de style pour la page index.php-->
        <link rel="stylesheet" href="../Design/css/global.css"/>
        <link rel="stylesheet" href="../Design/css/about.css"/>

       <!-- <link rel="stylesheet" href="Design/css/jquery.ui.css"/>
        <link rel="stylesheet" href="Design/css/jquery.ui.html4.css"/>-->
        <link rel="shortcut icon" type="image/x-icon" href="../Design/img/icon.png" />
       <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise|Rouge+Script|Tangerine"/>-->
        <script type="text/javascript" src="../Design/js/jquery-1.11.1.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> 
    </head>
    <body>
        <div id="borderTop"></div>
        <div id="header">
            <div id="menuMobile">
                <div></div>
                <div>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="page1.html">Photogrammetry</a></li>
                        <li><a href="projet.html">Softwares</a></li>
                        <li><a href="libraries.html">Libraries</a></li>
                        <li><a href="about.html">About Us</a></li>
                    </ul>
                </div>
            </div>
            <img id="logoTop" src="../Design/img/logo2.png"/>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="page1.html">Photogrammetry</a></li>
                    <li><a href="projet.html">Softwares</a></li>
                    <li><a href="libraries.html">Libraries</a></li>
                    <li><a href="about.html">About Us</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            
        </div>
        <div id="content">
            <div class="backgroundAbout">
                <div id="contribution">
                    <h1>Contribution</h1>
                    <h2>Alice Vision relies on a friendly and community-driven effort to create an open source photogrammetry solution.</h2>
                    <p>
                    The project strives to provide a <strong>pleasant</strong> environment for everybody and tries to be as <strong>non-hierarchical</strong> as possible. Every <strong>contributor</strong> is considered as a member of the team, regardless if they are a newcomer or a long time member. Nobody has <strong>special</strong> rights or prerogatives.
                    <br/><br/>
                    The contribution workflow relies on <a href="https://help.github.com/articles/creating-a-pull-request">Github Pull Request</a>. We recommend to discuss new features before starting the development, to ensure that development is efficient for everybody and minimize the review burden.</p>
                    <p>In order to foster a friendly and cooperative atmosphere where technical collaboration can flourish, we expect all members of the community to be</p>
                    <ul>
                        <li>⦁ courteous, polite and respectful in their treatment of others</li>
                        <li>⦁ helpful and constructive in suggestions and criticism</li>
                        <li>⦁ stay on topic for the communication medium that is being used</li>
                        <li>⦁ be tolerant of differences in opinion and mistakes that inevitably get made by everyone.</li>
                    </ul>
                    <p>Plus, we expect everybody to not</p>
                    <ul>
                        <li>⦁ flame and troll</li>
                        <li>⦁ insult</li>
                        <li>⦁ be offtopic or disruptive of communication channels</li>
                    </ul>
                    <p>While we hope to keep disciplinary action to a minimum, repeated violations of this policy will result in offenders getting temporarily or permanently removed from communication channels.</p>
                    
                </div>
                <div id="partners">
                    <h1>Partners</h1>
                    <div id="mapPartners">Carte google map avec les partners à venir</div>
                    <div id="namePartners">
                        <p><a href="http://cmp.felk.cvut.cz/">Czech Technical University (CTU)</a> in Prague, Czech Republic</p>
                        <p><a href="http://ligm.u-pem.fr/">IMAGINE</a> from the Universite Paris Est, LIGM Gaspard-Monge, France</p>
                        <p><a href="http://www.inp-toulouse.fr/">Institut National Polytechnique de Toulouse (INPT)</a>, France</p>
                        <p><a href="http://www.mikrosimage.com/">Mikros Image</a>, Post-Production Company in Paris, France</p>
                        <p><a href="https://www.simula.no/">Simula Research Laboratory AS</a> in Oslo, Norway</p>
                        <p><a href="http://www.quine.no/">Quine</a> in Oslo, Norway</p>
                        <p>See Github authors for the full list of contributors.</p>
                    </div>
                    <div id="europeanProject">
                        <img src="../Design/img/europeanFlag.png" id="europeanFlag">
                        <p>This project has received funding from the European Union’s Horizon 2020 research and innovation programme, see <a href="http://www.popartproject.eu/">popart</a> and <a href="http://www.ladioproject.eu/">ladio</a>.</p>
                    </div>
                </div>
                <div id="aboutHistory">
                    <h1>History</h1>
                    <p>In 2010, <a href="http://imagine.enpc.fr/">IMAGINE</a> research team (a joint research group between <a href="http://www.enpc.fr/en">Ecole des Ponts ParisTech</a> and <a href="http://international.cstb.fr/">Centre Scientifique et Technique du Batiment</a>) and Mikros Image started a partnership around Pierre Moulon’s thesis, supervised by Renaud Marlet and Pascal Monasse on the academic side and Benoit Maujean on the industrial side. In 2013, they released an open source SfM pipeline, called openMVG (“Multiple View Geometry”), to provide the basis of a better solution for the creation of visual effects <a href="https://en.wikipedia.org/wiki/Matte_painting">matte-paintings</a>.
                    <br/><br/>
                    In 2009, CMP research team from CTU started the PhD thesis of Michal Jancosek supervised by Tomas Pajdla. They released an open source MVS pipeline, called CMPMVS, in 2012.
                    <br/><br/>
                    In 2009, INPT, INRIA and Duran Duboi started a French ANR project to create a model based Camera Tracking solution based on natural features and a new marker design called CCTag.
                    <br/><br/>
                    In 2015, Simula, INPT and Mikros joined their efforts in the EU project <a href="http://www.popartproject.eu/">POPART</a> to create a Previz system. In 2017, CTU join the team in the EU project <a href="http://www.ladioproject.eu/">LADIO</a> to create a central hub with structured access to all data generated on set.
                    </p>

                    <h1>Contact Us</h1>
                    <h4>You can contact us at <a href="mailto:alicevision@googlegroups.com">alicevision@googlegroups.com</a></h4>

                    
                </div>
                
                
                
            </div>
        </div>
        <div id="footer">
            <!--<div>
                <img src="../Design/img/logoNoir.png"/>
                <p><!--Alice vision build a fully integrated software for 3D reconstruction, photomodeling and camera tracking. We aim to provide a strong software basis with state-of-the-art computer vision algorithms that can be tested, analyzed and reused.<p>
            </div>-->
            <div id="informations">
                <div>
                    <h2>Informations</h2>
                    <a href="comingSoon.html">Contact Us</a>  
                    <a href="comingSoon.html">About Us</a>
                    <a href="comingSoon.html">History</a>
                </div>
                <div>
                    <h2>Alice Vision</h2>
                    <a href="https://openmvg.readthedocs.io/en/latest/"> Documentation</a>
                    <a href="page1.html">Step by Step</a>              
                </div>

                <div>
                    <h2>The Softwares</h2>
                    <a href="comingSoon.html"> Maya MVG</a>
                    <a href="comingSoon.html">Meshroom</a>   
                    <a href="comingSoon.html">OFX MVG</a>   
                </div>
                <div id="partenaire">
                    <h2>Partner</h2>
                    <img src="../Design/img/partenaire1.png"/>
                    <img src="../Design/img/partenaire2.png"/>
                    <img src="../Design/img/partenaire3.png"/>
                    <img src="../Design/img/partenaire4.png"/>
                </div>
                
            </div>
            <div class="clear"></div>

        </div>
        
        <div id="copyRight"><p> Copyright © 2017 - Alice Vision - All rights reserved</p></div>
        <div id="borderBottom"></div>


        <script src="../Design/js/mainJs.js"></script>
        <script src="../Design/js/mainJquery.js"></script>
        <script src="../Design/js/utilisationjson.js"></script>
        <script type="text/javascript" src="../Design/js/jquery-ui-1.8.20.custom.min.js"></script>
       <!-- <script type="text/javascript" src="Design/js/modernizr.2.5.3.min.js"></script>-->
    </body>
</html>