0*{margin:0;padding:0;}

a{text-decoration:none;color:grey;}

body{background:black;margin:0;padding:0;}

@font-face {
font-family: babas; 
src: url(../fonts/BEBAS.ttf); 
}


.clear{ clear:both;}


/* css structure generale*/
#header
{
	width : 100%;
  height : 65px;
  position: fixed;
  background: whitesmoke;
   /* background: #89bad1;*/
}
#header h1{
  
  margin-top:15px;
  margin-left: 15px;
  color: white;
  font-family: arial ;
  font-size:1.5em;
}
#logoTop{
  width:190px;
  height: auto;
  margin-left:  20px;
  display: inline-block;
  margin-top: 11px;
}

#content
{
	width : 100%;
	min-height:500px;
  overflow: hidden;
  background: whitesmoke;
  /*background: black;*/
}

#borderTop{
width:auto;
height: 0px;
vertical-align: top
margin: 0;
padding: 0;
margin-top: -8px;
background-image:linear-gradient(to right,#156bec, #156bec, white);
background-image:-moz-linear-gradient(left, #156bec,#156bec, white);

}
#borderBottom{
  width:auto;
  height: 10px;
  vertical-align: top
  margin: 0;
  padding: 0;
  margin-bottom: -8px;
  background-image:linear-gradient(to right,#156bec, #156bec, white);
  background-image:-moz-linear-gradient(left, #156bec,#156bec, white);
  display: none;
}


#menu{
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 50px;
  opacity: 1;
  -webkit-transition: background 1s ease-out, color 1s, margin-right 1s -webkit-transform 1s;
  transition: background 1s ease-out, color 1s, margin-right 1s transform 1s;
}

#menu ul{
  padding:0;
  margin: 0;
}

#menu ul li{
  display: inline-block;
  padding: 20px 20px 14px 20px;
  font-family: 'Ubuntu';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;

}

#menu li a{
  color: black;
  -webkit-transition: color 0.6s -webkit-transform 0.6s;
  transition: color 0.6s, transform 0.6s;
}
#menu li:hover a{
  color: #09ABC6;
}





/*.parallelogramme{
  width:200px;
  height: 200px;
  background: url(../img/pattern2F.jpg);
  /*-webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);

}*/


/*
#libContent div{
  width: 21vw;
  min-height: 21vw;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  margin:10px;
  border:1px solid black;
  background: #F5F5F5CC;
  -webkit-transition: background 2s ease, color 2s -webkit-transform 2s;
  transition: background 2s ease, color 2s, transform 2s;
}

#libContent div:hover{
  background: #359DE9;
  color: white;
}

#libContent div:nth-child(1){
  /*background: linear-gradient(to bottom, black 30%, #054FBE);
  
  background: url(../img/fontaine1.png);
  background-size: cover;
  margin-left: 16%;
  
}



#libContent div:nth-child(2){
 /* background: linear-gradient(to bottom, black 30%, #5493F3);
   *
   background: url(../img/fontaine2.png);
   background-size: cover;*/
  /* background: #F5F5F5CC;

}


#libContent div:nth-child(3){
  /*background: linear-gradient(to bottom, black 30%, #054FBE);
  
  background: url(../img/fontaine2.png);
  background-size: cover;*/
 /* background: #F5F5F5CC;
}

*/




/*
#softContent div div{
  width:50%;
  height: 200px;
  margin: auto;
  border-top: 5px solid #1569E8;
  border-bottom: 5px solid #1569E8;

}*/

/*
#divMayaMVG div:nth-child(1){
  background: url(../img/img_project/mayaMVG.png);
  background-size:cover;
}
#divMeshroom div:nth-child(2){
  background: url(../img/img_project/ofxMVG.png);
  background-size:cover;
}
#divOFX div:nth-child(1){
  background: url(../img/img_project/sift_keypoints.jpg);
  background-size:cover;
}
*/












#footer{
  width: 100%;
  min-height: 100px;
  background: whitesmoke;
  color: black;
  padding-top: 30px;
}
#informations{
  width: 90%;
  height: auto;
  margin:auto;
}

#informations div a{
   -webkit-transition: background 0.6s, color 0.6s -webkit-transform 0.6s;
  transition: background 0.6s, color 0.6s, transform 0.6s;
}


#informations div a:hover{
  color: #09ABC6;
}

#informations div{
  width:14%;
  height: auto;
  display: inline-block;
  font-family: 'Ubuntu';
  font-weight: normal;
  vertical-align: top;
  margin-left: 5%;
}

#informations div h2{
  font-size: 17px;
  font-family: 'Ubuntu';
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 22px;

}
#informations div a{
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
  color: black;
  font-family: 'Ubuntu';
  font-weight: 200;

}

#informations div img{
  width: 20%;
  display: inline-block;
}

#partenaire{
  width: 30% !important;
}
#copyRight{
  font-size: 12px;
  color: whitesmoke;
  margin:0;
  padding: 5px 0 5px 0;
  text-align: center;
  background: black;

}
#copyRight p{
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

/* Step by step page */


#menuFloat{
  width: 500px;
  height: 500px;
  background: red;
  position: fixed;
  top:0;
}


.isFlottant{
  position: fixed;
  top:-12px;
  background: white;
}

.isFlottant h1{
  display: none;
}

.isFlottant:nth-child(2){
  margin-left: 26%;
  transform: scale(0.4) !important;
  margin-top: 20px;
}



.displayNone{
  display: none;
}
.displayBlock{
  display: none;
}



 






#menuMobile{
  display: none;
  z-index: 1;
}


#linkAlgoForMobile{
  width: 70%;
  height: auto;
  margin: auto;
  display: none;
  border:1px solid #1569E8 ;
  margin-top: -15px;
}
#linkAlgoForMobile p{
  width: 100%;
  text-align: center;
}

#linkAlgoForMobile p a{
  color: black;
  font-family: 'Ubuntu';
  text-transform: uppercase;
}
#linkAlgoForMobile p a:hover{
  color:#1569E8;
}

#stepForMobile{
  display: none;
     width: 90%;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 600;
    margin:auto;
  }

#stepForMobile div{
  margin-bottom: 10px;
}

#stepForMobile div:nth-child(1){
  width:20vw;
  height: 20vw;
  margin-right: 1vw;
  background: url(../img/menu/B1.png);
  background-size: cover;
  display: inline-block;
}
#stepForMobile div:nth-child(1) p{
  width: 100%;
  text-align: center;
}
#stepForMobile div:nth-child(1) p a{
  color:#1569E8;
}
#stepForMobile div:nth-child(2){
  width:20vw;
  height: 20vw;
  margin-right: 1vw;
  background: url(../img/menu/B2.png);
  background-size: cover;
  display: inline-block;
}
#stepForMobile div:nth-child(2) p{
  width: 100%;
  text-align: center;
}
#stepForMobile div:nth-child(2) p a{
  color:#1569E8;
}
#stepForMobile div:nth-child(3){
  width:20vw;
  height: 20vw;
  margin-right: 1vw;
  background: url(../img/menu/B3.png);
  background-size: cover;
  display: inline-block;
}
#stepForMobile div:nth-child(3) p{
  width: 100%;
  text-align: center;
}
#stepForMobile div:nth-child(3) p a{
  color:#1569E8;
}
#stepForMobile div:nth-child(4){
  width:20vw;
  height: 20vw;
  margin-right: 1vw;
  background: url(../img/menu/B4.png);
  background-size: cover;
  display: inline-block;
}
#stepForMobile div:nth-child(4) p{
  width: 100%;
  text-align: center;
}
#stepForMobile div:nth-child(4) p a{
  color:#1569E8;
}

#stepForMobile div:nth-child(5){
  width:20vw;
  height: 20vw;
  margin-right: 1vw;
  background: url(../img/menu/B5.png);
  background-size: cover;
  display: inline-block;
}
#stepForMobile div:nth-child(5) p{
  width: 100%;
  text-align: center;
}
#stepForMobile div:nth-child(5) p a{
  color:#1569E8;
}

#stepForMobile div:nth-child(6){
  width:20vw;
  height: 20vw;
  margin-right: 1vw;
  background: url(../img/menu/B6.png);
  background-size: cover;
  display: inline-block;
}
#stepForMobile div:nth-child(6) p{
  width: 100%;
  text-align: center;
}
#stepForMobile div:nth-child(6) p a{
  color:#1569E8;
}

#stepForMobile div:nth-child(7){
  width:20vw;
  height: 20vw;
  margin-right: 1vw;
  background: url(../img/menu/B7.png);
  background-size: cover;
  display: inline-block;
}
#stepForMobile div:nth-child(7) p{
  width: 100%;
  text-align: center;
}
#stepForMobile div:nth-child(7) p a{
  color:#1569E8;
}
#stepForMobile div:nth-child(8){
  width:20vw;
  height: 20vw;
  margin-right: 1vw;
  background: url(../img/menu/B8.png);
  background-size: cover;
  display: inline-block;
}
#stepForMobile div:nth-child(8) p{
  width: 100%;
  text-align: center;
}
#stepForMobile div:nth-child(8) p a{
  color:#1569E8;
}



#hamburgerMenu{display: none;}

/*  step on top  */



































#menuMobile{
  display: none;
  position: fixed;
  top:7px;
  right: 0;
  width: 100%;
}


#menuMobile div:nth-child(1){
  width: 40px;
  height: 40px;
  background: url(../img/hamburgerMenu.png);
  background-size: cover;
  margin-top: 6px;
  margin-right:15px;
  margin-bottom: 8px;
  float: right;
   -webkit-transition: background 1s -webkit-transform 2s;
  transition: background 1s, transform 2s;
  cursor: pointer;
  
}
#menuMobile div:nth-child(1):hover{
  background: url(../img/hamburgerMenuHover.png);
  background-size: cover;
}
#menuMobile div:nth-child(2){
  opacity: 1;
  width: 100%;
  height: 0;
  background: whitesmoke;
  position: fixed;
  top:60px;
  right: 0;
  overflow: hidden;
   -webkit-transition: height 2s -webkit-transform 2s;
  transition: height 2s, transform 2s;
  box-shadow: -7px 6px 5px 1px rgba(0, 0, 0, 0.2), 15px 2px 20px rgba(255, 255, 255, 0.6) inset;

}
#menuMobile div:nth-child(2) ul{
  margin:0;
  padding:0;
}
#menuMobile div:nth-child(2) li{
  list-style: none;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #DBDBDB;
}
#menuMobile div:nth-child(2) li a{
  padding: 20px;
  color: black;
  font-family: 'Ubuntu';
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
}/*
#hamburgerMenu div:nth-child(2) li a:hover{
  color:#156BEC;
}*/


#menuMobile div:nth-child(2) ul li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  line-height: 27px;
  display: block;
  padding: 0 15px;
  /*transition for smooth hover animation*/
  transition: all 0.15s;
}
/*hover effect on links*/
#menuMobile div:nth-child(2) ul li a:hover {
  background: #DBDBDB;
  border-left: 5px solid #09ABC6;
}
/*Lets hide the non active LIs by default*/
#menuMobile ul ul {
  display: none;
}
#menuMobile li.active ul {
  display: block;
}

















/* MEDIA QUERIES */

@media (max-width: 480px) { 

  #menuMobile{
  display: block;
}

 
  #hamburgerMenu{display: none;}
  #stepDiv h1{
    width: 90%;
    margin:auto;
    margin-top: 90px;
    margin-bottom: 30px;
  }

  #promoAlgo{
    height: auto !important;
  }
  #linkAlgoForMobile{
    display: block;
  }

#scene{display: none;}

#aliceVisionFirstPromo{margin-top: 65px;height: 400px;}

  /* menu*/

#borderTop{
  display: none;
}

#menu{
  display: none;
}




  #logoTop{
    width:215px;
    top:2px;
    position: absolute;
    z-index: 2;
  }
  


  #libContent{
    width:98%;
  }

  #libContent div h4{
    text-align: left;
  }/*
  #libContent div:nth-child(1), #libContent div:nth-child(2), #libContent div:nth-child(3){
    width: 100%;
  }*/




  

  
  #openSource p:nth-child(2){
    width: 75%;
    -webkit-column-count : 1;
    -moz-column-count :1;
    column-count :1;

    -webkit-column-gap : 30px;
    -moz-column-gap : 30px;
    column-gap : 30px;

  }

  #openSource p:nth-child(3){
    width:75%;
  }

#footer{
  padding-bottom: 0;
}

  #informations div:nth-child(1){
    width:48%;
    margin-left: 0;
  }
  #informations div:nth-child(2){
    width:48%;
    margin-left: 0;
  }
  #informations div:nth-child(3){
    width:48%;
    margin-left: 0;
  }
  #informations div:nth-child(4){
    width: 48%;
    margin-left: 0;

  }
  #partenaire{
    width: 50% !important;
  }

  #projectTextPromo {
    width: 100%;
    font-size: 30px;
    margin-right: 0;
  }

  #projectTextPromo h1{
    margin: 0;
  }



  #project1 div:nth-child(1){
    width: 100%;
    min-height: 100px;
  }
  #project1 :nth-child(1) h1{
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
  }
  #project1 :nth-child(1) h2{
    margin-top: 5px;
    width: 80%;
    margin-left: 10%;
  }


  #project1 :nth-child(1) p{
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  #project1 div:nth-child(2){
    width: 100%;
    min-height: 250px;
  }


  #project2 div:nth-child(2){
    width: 100%;
    min-height: 100px;
    float: left;
  }
  #project2 :nth-child(2) h1{
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
  }
  #project2 :nth-child(2) h2{
    margin-top: 5px;
    width: 80%;
    margin-left: 10%;
  }

  #project2 :nth-child(2) p{
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  #project2 div:nth-child(1){
    width: 100%;
    min-height: 250px;
    float: right;
  }


   #project3 div:nth-child(1){
    width: 100%;
    min-height: 100px;
  }
  #project3 :nth-child(1) h1{
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
  }
  #project3 :nth-child(1) h2{
    margin-top: 5px;
    width: 80%;
    margin-left: 10%;
  }


  #project3 :nth-child(1) p{
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  #project3 div:nth-child(2){
    width: 100%;
    min-height: 250px;
  }

  .videoPresentation{
      font-family: 'Ubuntu';
  }
  .videoPresentation div{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .videoPresentation iframe{
    width: 100%;
  }

  .videoPresentation h3{
    width:60%;
    margin: auto;
    text-align: center;
    font-weight: 500;
  } 
  .videoPresentation p{
    width:60%;
    text-align: center;
    font-weight: 200;
    margin: auto;
  }

  .generalPrincipe div h1{
    font-size: 28px;
    margin-bottom: 20px;
  }

  .gp1 img{
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }

  .gp1 h4{
    
  }
  .gp1 h4, .gp1 p{
    width: 80%;
    margin: auto;
    margin-bottom: 10px !important;
  }
  .implementedAlgo{
    width: 100%;
    margin:auto;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .implementedAlgo h1,.implementedAlgo h2{
    margin-bottom: 15px !important;
  }

  .implementedAlgo h3{
    margin-top: 10px;
  }

  .implementedAlgo h1,.implementedAlgo h2,.implementedAlgo h3,.implementedAlgo h4, .implementedAlgo p{
    width: 80%;
    margin:auto;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .existantAlgo{
    width: 100%;
    margin:auto;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
  }

.existantAlgo h1,.existantAlgo h2, .existantAlgo p{
    width: 80%;
    margin:auto;
  }

  #algoExisted1,#algoExisted2{
    width: 80%;
    margin: auto;
  }

  #biblio h1, #biblio h6, #biblio p{
    width: 80%;
  }

}

/* Extra small devices (portrait phones, less than 576px)*//*768*1024  */
@media (min-width: 481px) and (max-width: 589px) { 

  #header{
    height: 68px;
  }

  #logoTop{
    width:215px;
    top:2px;
    position: absolute;
    z-index: 2;
    margin-top: 18px;
  }
  #menu{
    display: none;
  }
  
  #menuMobile{
    display: block;
  }

  #avTextPromo{
    width: 87%;
    margin-right: 7%;
  }
  
  #objectif :nth-child(1) h1{
    margin-top: 30px;
  }
#objectif :nth-child(1) p{
  margin-bottom: 30px;
}



  #libContent{
    width:98%;
  }

  #mikrosDiv div:nth-child(1){
    width:100%;
  }
  #mikrosDiv :nth-child(1) h1{
    margin-top: 40px;
  }
  #mikrosDiv :nth-child(1) p{
    margin-bottom: 50px;
  }
  #mikrosDiv div:nth-child(2){
    width:100%;
    background: black;
  }

  


  #promoAlgo{
    height: 130px;
    min-height: 100px;
  }
  #promoAlgo h1{
    font-size: 18px;
  }

  #openSource p:nth-child(2){
    width: 75%;
    -webkit-column-count : 2;
    -moz-column-count :2;
    column-count :2;

    -webkit-column-gap : 30px;
    -moz-column-gap : 30px;
    column-gap : 30px;

  }

  #openSource p:nth-child(3){
    width:75%;
  }
  #informations div:nth-child(1){
    width:30%;
  }
  #informations div:nth-child(2){
    width:30%;
  }

  #informations div:nth-child(4){
    width: 90%;
    margin-left: 5%;
  }

  #stepsTop{
    margin-left: 8% !important;
     transform: scale(0.3) !important;
  }

#hamburgerMenu div:nth-child(2){
  width: 40% !important;

}

  .implementedAlgo, .existantAlgo{
    width: 80%;
    margin:auto;
  }




}

/* Small devices (landscape phones, 576px and up)*//*firefox 800*1280*/
 @media (min-width: 590px) and (max-width: 767px) {
 /*  menu fixed*/


#logoTop{
  width: 175px;
  margin-top: 21px;
}
#scene{
  width: 47%
}

#stepsTop{
  margin-left: 8% !important;
}


#hamburgerMenu div:nth-child(2){
  width:35% !important;
}

 /* Home */

 

 #avTextPromo h1{font-size: 30px;}
  #avTextPromo h2{font-size:22px;}
  #objectif :nth-child(1) h1{
    margin-top: 50px;
    font-size: 24px;
  }
  #mikrosDiv :nth-child(1) h1{
    margin-top: 105px;
    
  }

  #openSource p:nth-child(2) {
  width: 70%;
  margin:auto;
  text-align: left;
  /*-webkit-column-count: 2; /* Chrome, Safari, Opera */
 /*   -moz-column-count: 2; /* Firefox */
 /*   column-count: 2;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
 /*   -moz-column-gap: 40px; /* Firefox */
   /* column-gap: 40px;*/
}
#openSource p:nth-child(3){
  width: 70%;
}


/* step*/

  #menu{
    margin-right: 0;
    margin-top: 10px;
  }
    #menu ul li {
    font-size: 13px;
    padding: 18px 16px 0px 16px;
  }
 
  .gp1 img{
    margin-top: 8px
  }

  /*FOOTER*/
  #informations{
    width:100%;
  }

   #informations div h2,#informations div a{
    font-size: 14px;
   }

  #informations div:nth-child(4) img{
    width:50px;
  }
  #informations div:nth-child(1){
    width: 15%;
  }
  #informations div:nth-child(2){
    width:15%;
  }
  #informations div:nth-child(3){
    width:20%;
  }

  #partenaire{ 
    width: 26% !important;
  }

  #footer{
    padding-bottom: 0px;
  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 979px) {
  #hamburgerMenu div:nth-child(2){
    width: 30% !important;
  }
  #stepsTop{
    margin-left: 9% !important;
  }

  #objectif :nth-child(1) h1{
    margin-top: 80px;
  }
  #menu ul li {
    font-size: 13px;
  }
  #informations{
    width:100%;
  }

  #informations div h2{
    font-size: 15px;

  }

  #informations div:nth-child(4) img{
    width:50px;
  }
  #informations div:nth-child(1){
    width: 11%;
  }
  #informations div:nth-child(2){
    width:12%;
  }
  #informations div:nth-child(3){
    width:15%;
  }
  .implementedAlgo h1{
    font-size: 30px;
  }

    #openSource p:nth-child(2){
    /*-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;*/
  }
    
  #partenaire{
    width: 26% !important;
  }


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 980px) and (max-width: 1199px) {
 
  #objectif :nth-child(1) h1{
    margin-top: 80px;
  }
  #stepsTop{
    margin-left: 18%;
  }

  .implementedAlgo h1{
    font-size: 30px;
  }

  #openSource p:nth-child(2){
    /*-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;*/
  }
    

}
@media (min-width: 1200px) and (max-width: 1499px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1500px) {

}




.opacity0{
  opacity: 0;
  -webkit-transition: opacity 1s ease -webkit-transform 1s;
  transition: opacity 1s ease transform 1s;
}
.opacity1{
  opacity: 1;
  -webkit-transition: opacity 1s ease -webkit-transform 1s;
  transition: opacity 1s ease transform 1s;
}



/* menu fixed */
#hamburgerMenu{
  position: fixed;
  top:0;
  right: 0;
  z-index: 2;
  -webkit-transition: opacity 1s ease -webkit-transform 1s;
  transition: opacity 1s ease transform 1s;
}

#hamburgerMenu div:nth-child(1){
  width: 30px;
  height: 30px;
  background: url(../img/hamburgerMenu.png);
  background-size: cover;
  margin-top: 6px;
  margin-right:15px;
   -webkit-transition: background 1s -webkit-transform 2s;
  transition: background 1s, transform 2s;
  cursor: pointer;
  
}
#hamburgerMenu div:nth-child(1):hover{
  background: url(../img/hamburgerMenuHover.png);
  background-size: cover;
}
#hamburgerMenu div:nth-child(2){
  opacity: 0;
  width: 17%;
  height: auto;
  background: whitesmoke;
  position: fixed;
  top:42px;
  right: 0;
  overflow: hidden;
  -webkit-transition: height 2s -webkit-transform 2s;
  transition: height 2s, transform 2s;
  box-shadow: -7px 6px 5px 1px rgba(0, 0, 0, 0.2), 15px 2px 20px rgba(255, 255, 255, 0.6) inset;
  -webkit-transition: opacity 1s ease -webkit-transform 1s;
  transition: opacity 1s ease transform 1s;
}
#hamburgerMenu div:nth-child(2) ul{
  margin:0;
  padding:0;
}
#hamburgerMenu div:nth-child(2) li{
  list-style: none;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
#hamburgerMenu div:nth-child(2) li a{
  padding: 20px;
  color: black;
  font-family: 'Ubuntu';
  font-weight: 400;
}/*
#hamburgerMenu div:nth-child(2) li a:hover{
  color:#156BEC;
}*/


#hamburgerMenu div:nth-child(2) ul li a {
  color: black;
  text-decoration: none;
  font-size: 13px;
  line-height: 27px;
  display: block;
  padding: 0 15px;
  /*transition for smooth hover animation*/
  transition: all 0.15s;
}
/*hover effect on links*/
#hamburgerMenu div:nth-child(2) ul li a:hover {
  background: #DBDBDB;
  border-left: 5px solid #09ABC6;
}
/*Lets hide the non active LIs by default*/
#hamburgerMenu ul ul {
  display: none;
}
#hamburgerMenu li.active ul {
  display: block;
}

















.fading-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}
.fading-out {
  animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
 from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
 from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.height-in {
  animation: heightIn 1s;
  -webkit-animation: heightIn 1s;
}
.height-out {
  animation: heightOut 1s;
  -webkit-animation: heightOut 1s;
}
@keyframes heightIn {
  from {
    height: 0;
  }
  to {
    height: 155;
  }
}
@-webkit-keyframes heightIn {
 from {
     height: 0;
  }
  to {
     height: 155;
  }
}
@keyframes heightOut {
  from {
     height: 155;
  }
  to {
     height: 0;
  }
}
@-webkit-keyframes heightOut {
 from {
     height: 155;
  }
  to {
     height: 0;
  }
}
/*
#buttonProject1, #buttonProject3{
  width: 60%;
  margin: auto;
  border: 2px solid #09ABC6;
  padding: 10px 30px;
  margin-bottom: 20px;
  margin-top: 35px;
  margin-left: 20%;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  font-weight: 800;
  background: none;
  -webkit-transition: background 1s ease, color 1s -webkit-transform 1s;
  transition: background 1s ease, color 1s, transform 1s;
}


#buttonProject1 a, #buttonProject3 a{
  width: 70%;
  text-align: center;
  color: #09ABC6;
}

#buttonProject1:hover, #buttonProject3:hover{
  background: #09ABC6;
}
#buttonProject1:hover a, #buttonProject3:hover a{
  color:whitesmoke;
}*/







#comingSoon{
  width: 100%;
  height: auto;
  font-family: 'Ubuntu';
  text-align: center;
  margin-top: 30vh;
}


.seeMore{
  display: none;
}



