<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">About us</h1>
                 <p>The AliceVision project is supported by the <a href="http://www.alicevision.org/association" target ="blank">ALICEVISION association</a>, a non-profit organization whose ambition is to democratize 3D digitization technologies from photographs.</p><p>
                The association considers 3D digitization technologies essential for many applications for the common good, especially for culture and artistic creation.
                </p><p>
                The ALICEVISION association has been <a href="http://alicevision.org/association/#members" target="blank">founded by 14 people</a> from European research and industry, who have been collaborating <a href="http://alicevision.org/association/#history" target="blank">since 2010</a> around 3D computer vision for cultural and creative industries.</p><p>
                As a Computer Vision Researcher, a Developer or a 3D scanning or photogrammetry Expert, you can contribute to the association to expand our on-line community.</p><p>
                If you use and love AliceVision and Meshroom, please consider <a href="http://alicevision.org/association/#donate" target="blank">making a donation or a corporate sponsorship</a>.</p>
            </div>
        </div>
    </div>
</section>
<section class="white_panel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Contact us</h1>
                <h4 class="text-center">You can contact us on the public mailing list at <a href="https://groups.google.com/forum/#!forum/alicevision">alicevision@googlegroups.com</a></h4>
                <h4 class="text-center">You can also contact us privately at <a href="mailto:alicevision-team@googlegroups.com">alicevision-team@googlegroups.com</a></h4>
            </div>
        </div>
    </div>
</section>
