<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">ALICEVISION Association</h1>
                <p>
                    The AliceVision project is supported by the <a href="http://www.alicevision.org/association" target="_blank">ALICEVISION association</a>, a non-profit organization whose ambition is to democratize 3D digitization technologies from photographs. The association has been created in July 2020 by <a href="http://alicevision.org/association/#members" target="_blank">14 founding members</a> from the European academic and industry sector, who have been collaborating in the field of 3D computer vision for cultural and creative industries <a href="http://alicevision.org/association/#history" target="_blank">since 2010</a>.
                </p>
                <p>
                    The association considers 3D digitization technologies essential for many applications for the common good, especially for culture and artistic creation.
                </p>
                <p>
                    As a Computer Vision Researcher, a Developer or a 3D scanning or photogrammetry Expert, <a href="http://alicevision.org/association/#contribute" target="_blank">you can contribute</a> to the association to expand our on-line community.
                </p>
                <p>
                    If you use and love AliceVision and Meshroom, please consider <a href="http://alicevision.org/association/#donate" target="_blank">making a donation or a corporate sponsorship</a>.
                </p>
            </div>
            <div class="col-md-12 text-center" style="margin: 2em;">
                <a target="_blank" href="./association" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><span>ALICEVISION Association Website</span></a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h1 class="pmd-card-title-text text-center">Contact Us</h1>
                    </div>
                    <div class="pmd-card-body">
                        <h4 class="text-center">
                            You can discuss with us on the <b>public</b> mailing list at <a target="_blank" href="https://groups.google.com/forum/#!forum/alicevision">forum@alicevision.org</a>
                        </h4>
                        <h4 class="text-center">
                            You can contact us <b>privately</b> at <a target="_blank" href="mailto:team@alicevision.org">team@alicevision.org</a>
                        </h4>
                        <h4 class="text-center">
                            You can also contact the association board <b>privately</b> at <a target="_blank" href="mailto:association@alicevision.org">association@alicevision.org</a>
                        </h4>
                    </div>
                    <div class="pmd-card-title">
                        <h1 class="pmd-card-title-text text-center">Follow Us</h1>
                    </div>
                    <div class="pmd-card-body">
                        <h4 class="text-center">
                        <a href="https://groups.google.com/forum/#!forum/alicevision" target="_blank" title="Mailing List"><i class="fa fa-3x fa-comments text-muted m-2" style="vertical-align:middle;"></i></a>
                        <a href="https://sketchfab.com/AliceVision" target="_blank" title="Sketchfab"><img src="img/logos/sketchfab_grey.png" style="width:68px;height:68px;opacity:1;vertical-align:middle;margin-left: 5px;margin-right: 5px"></a>
                        <a href="https://twitter.com/alicevision_org" target="_blank" title="Twitter"><i class="fab fa-3x fa-twitter text-muted m-2" style="vertical-align:middle;">&nbsp;&nbsp;</i></a>
                        <a href="https://www.linkedin.com/groups/13573776" target="_blank" title="Linkedin"><i class="fab fa-3x fa-linkedin text-muted m-2" style="vertical-align:middle;">&nbsp;&nbsp;</i></a>
                        <a href="https://www.youtube.com/c/AliceVisionOrg" target="_blank" title="Youtube"><i class="fab fa-3x fa-youtube text-muted m-2" style="vertical-align:middle;">&nbsp;&nbsp;</i></a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
