<section class="white_panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1>Photogrammetry History</h1>
                <p>« Photogrammetry is the science or technique for obtaining reliable information on the natural environment or physical objects by recording, measuring and interpreting photographic images or produced by electromagnetic radiation or other phenomena ».</p>
                <p>The name comes from Greek "photos" (light), "gramma" (something written or drawn) and "metron" (measure).</p>
            </div>
        </div>
    </div>
</section>