<section class="white_panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1 class="text-center">Photogrammetry History</h1>
                <p>« Photogrammetry is the science or technique for obtaining reliable information on the natural environment or physical objects by recording, measuring and interpreting photographic images or produced by electromagnetic radiation or other phenomena ».</p>
                <p>The name comes from Greek "photos" (light), "gramma" (something written or drawn) and "metron" (measure).</p>
                <div class="text-center">
                    <img class="img-responsive" height="477px" width="450px" src="img/history/photogrammetry.png">
                    <span class="img_desc">Illustration from Oculus artificialis teledioptricus sive Telescopium, 1685</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1>Emergence of Photogrammetry Technologies</h1>
                <ul>
                    <li>500 av. JC - camera obscura (500 BC in China, 350 BC Aristote, 1000 Al-Haytham, 1500 Léonard de Vinci)
                        <div class="text-center">
                            <img class="img-responsive" height="375px" width="630px" src="img/history/camera_obscura.jpg">
                            <span class="img_desc">Illustration of a room-sized camera obscura</span>
                        </div>
                    </li>
                    <li>~1430 - Alberti, Ludi rerum mathematicarum et Descriptio Urbis Romae</li>
                    <li>~1490 - Piero della Francesca, De prospectiva pingendi</li>
                    <li>~1500 - Leonardo Da Vinci, How to determine painter’s eye point from perspective painting?</li>
                    <li>1540 - add lens (Gerolamo Cardano)</li>
                    <li>1604 - first mathematical theory of camera obscura (Kepler)</li>
                    <li>1611 - camera lucida (patented by Wollaston in 1806)
                        <div class="text-center">
                            <img class="img-responsive" height="505px" width="510px" src="img/history/camera_lucida.jpg">
                            <span class="img_desc">Camera Lucida in use</span>
                        </div>
                    </li>
                    <li>1726 - Topographic map of a Swiss mountain range using perspective drawings - Kappeler</li>
                    <li>1793 - Hydrography - Coastlines maps during expeditions from angular and distance measurements - Beautemps-Beaupré</li>
                    <li>1826 - first photography (Niépce)
                        <div class="text-center">
                            <img class="img-responsive" height="600px" width="400px" src="img/history/first_photography_niepce.jpg">
                            <span class="img_desc">View from the window at Le Gras, Joseph Nicéphore Niépce</span>
                        </div>
                    </li>
                    <li>1836 - Daguerreotype - “gift to the world” from French Academy
                        <div class="text-center">
                            <img class="img-responsive" height="400px" width="600px" src="img/history/daguerre_process.jpg">
                            <span class="img_desc">Illustration by Susanna Celeste Castelli, DensityDesign Research Lab</span>
                        </div>
                    </li>
                    <li>1849 - Metrophotography - Laussedat</li>
                    <li>1881 - The Royal Prussian Institute for Photogrammetry - Meydenbauer</li>
                    <li>1885 - First archeological object recorded, The ancient ruins of Persepolis</li>
                    <li>1889 - Publication of the first photogrammetry manual - Koppe</li>
                    <li>1911 - First aerial photogrammetry, rectified photographs - Scheimpflug</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1>Emergence of Mathematical Solutions</h1>
                <ul>
                    <li>
                        3D pose problem
                        <ul>
                            <li>1615 - Snellius</li>
                            <li>1773 - Lagrange</li>
                            <li>1841 - Grunert</li>
                        </ul>
                    </li>
                    <li>
                        Epipolar geometry
                        <ul>
                            <li>1862 - Terrero</li>
                            <li>1883 - Hauck</li>
                            <li>1899 - Finsterwalder</li>
                        </ul>
                    </li>
                    <li>
                        Trifocal geometry
                        <ul>
                            <li>1883 - Hauck</li>
                        </ul>
                    </li>
                    <li>
                        Motion estimation
                        <ul>
                            <li>1880 - Schroter: 4 point problem for coplanar object points</li>
                            <li>1913 - Kruppa: 5 point problem</li>
                            <li>2003 - Nister: first algorithm for the 5 point problem that gives at most 10 solutions</li>
                        </ul>
                    </li>
                    <li>
                        3D modeling from a single image
                        <ul>
                            <li>~1800 - Laussedat</li>
                            <li>1883 - Hauck</li>
                            <li>1892 - Meydenbauer</li>
                        </ul>
                    </li>
                    <li>
                        3D reconstruction from uncalibrated images & projective reconstruction
                        <ul>
                            <li>1883 - Hauck</li>
                            <li>1899 - Finsterwalder</li>
                        </ul>
                    </li>
                    <li>
                        Camera self-calibration
                        <ul>
                            <li>1892 - Meydenbauer</li>
                            <li>1899 - Finsterwalder</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>