<section class="white_panel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Photogrammetry History</h1>
                <p>« Photogrammetry is the science or technique for obtaining reliable information on the natural environment or physical objects by recording, measuring and interpreting photographic images or produced by electromagnetic radiation or other phenomena ».</p>
                <p>The name comes from Greek "photos" (light), "gramma" (something written or drawn) and "metron" (measure).</p>
                <div class="text-center">
                    <img class="img-responsive" height="477px" width="450px" src="img/history/photogrammetry.png">
                    <span class="img_desc">Illustration from Oculus artificialis teledioptricus sive Telescopium, 1685</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Emergence of Photogrammetry Technologies</h1>
                <div class="timeline">
                    <ul>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">500 BC</h2>
                                    <span class="pmd-card-subtitle-text">Camera obscura (500 BC in China, 350 BC Aristote, 1000 Al-Haytham, 1500 Léonard de Vinci)</span>
                                </div>
                                <div class="pmd-card-media text-center">
                                    <img class="img-responsive" src="img/history/camera_obscura.jpg">
                                    <span class="img_desc">Illustration of a room-sized camera obscura</span>
                                </div>
                                <div class="pmd-card-actions text-center">
                                    <a target="_blank" href="https://en.wikipedia.org/wiki/Camera_obscura" class="btn pmd-btn-raised pmd-ripple-effect btn-default" type="button"><i class="fa fa-wikipedia-w"></i> <span>Wikipedia</span></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">~1430</h2>
                                    <span class="pmd-card-subtitle-text">Alberti, Ludi rerum mathematicarum et Descriptio Urbis Romae</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">~1500</h2>
                                    <span class="pmd-card-subtitle-text">Leonardo Da Vinci, Try to determine painter’s eye point from perspective painting</span>
                                </div>
                                <div class="pmd-card-media text-center">
                                    <img class="img-responsive" src="img/history/davinici.png">
                                    <span class="img_desc">La Città ideale, unknown author</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1540</h2>
                                    <span class="pmd-card-subtitle-text">Gerolamo Cardano, Add lens</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1604</h2>
                                    <span class="pmd-card-subtitle-text">Kepler, First mathematical theory of camera obscura</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1611</h2>
                                    <span class="pmd-card-subtitle-text">Camera lucida (patented by Wollaston in 1806)</span>
                                </div>
                                <div class="pmd-card-media text-center">
                                    <img class="img-responsive" src="img/history/camera_lucida.jpg">
                                    <span class="img_desc">Camera Lucida in use</span>
                                </div>
                                <div class="pmd-card-actions text-center">
                                    <a target="_blank" href="https://en.wikipedia.org/wiki/Camera_lucida" class="btn pmd-btn-raised pmd-ripple-effect btn-default" type="button"><i class="fa fa-wikipedia-w"></i> <span>Wikipedia</span></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1726</h2>
                                    <span class="pmd-card-subtitle-text">Kappeler, Topographic map of a Swiss mountain range using perspective drawings</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1793</h2>
                                    <span class="pmd-card-subtitle-text">Beautemps-Beaupré, Hydrography - Coastlines maps during expeditions from angular and distance measurements</span>
                                </div>
                                <div class="pmd-card-media text-center">
                                    <img class="img-responsive" src="img/history/beautemps_beaupre.jpg">
                                    <span class="img_desc">Archipel de Santa Cruz, Beautemps-Beaupré</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1826</h2>
                                    <span class="pmd-card-subtitle-text">Niépce, First photography</span>
                                </div>
                                <div class="pmd-card-media text-center">
                                    <img class="img-responsive" src="img/history/first_photography_niepce.jpg">
                                    <span class="img_desc">View from the window at Le Gras, Joseph Nicéphore Niépce</span>
                                </div>
                                <div class="pmd-card-actions text-center">
                                    <a target="_blank" href="https://en.wikipedia.org/wiki/View_from_the_Window_at_Le_Gras" class="btn pmd-btn-raised pmd-ripple-effect btn-default" type="button"><i class="fa fa-wikipedia-w"></i> <span>Wikipedia</span></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1836</h2>
                                    <span class="pmd-card-subtitle-text">Daguerreotype - “gift to the world” from French Academy</span>
                                </div>
                                <div class="pmd-card-media text-center">
                                    <img class="img-responsive" src="img/history/daguerre_process.jpg">
                                    <span class="img_desc">Illustration by Susanna Celeste Castelli, DensityDesign Research Lab</span>
                                </div>
                                <div class="pmd-card-actions text-center">
                                    <a target="_blank" href="https://en.wikipedia.org/wiki/Daguerreotype" class="btn pmd-btn-raised pmd-ripple-effect btn-default" type="button"><i class="fa fa-wikipedia-w"></i> <span>Wikipedia</span></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1849</h2>
                                    <span class="pmd-card-subtitle-text">Laussedat, Metrophotography</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1881</h2>
                                    <span class="pmd-card-subtitle-text">Meydenbauer, The Royal Prussian Institute for Photogrammetry</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1885</h2>
                                    <span class="pmd-card-subtitle-text">First archaeological object recorded, The ancient ruins of Persepolis</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1889</h2>
                                    <span class="pmd-card-subtitle-text">Koppe, Publication of the first photogrammetry manual</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pmd-card pmd-card-default pmd-z-depth">
                                <div class="pmd-card-title">
                                    <h2 class="pmd-card-title-text">1911</h2>
                                    <span class="pmd-card-subtitle-text">Scheimpflug, First aerial photogrammetry, rectified photographs</span>
                                </div>
                                <div class="pmd-card-media text-center">
                                    <img class="img-responsive" src="img/history/pigeon_ww.jpg">
                                    <img class="img-responsive" src="img/history/pigeon_photos_ww.jpg">
                                    <span class="img_desc">Pigeon with miniature camera and aerial photographs of Germany</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white_panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1 class="text-center">Emergence of Mathematical Solutions</h1>
                <ul>
                    <li>
                        3D pose problem
                        <ul>
                            <li>1615 - Snellius</li>
                            <li>1773 - Lagrange</li>
                            <li>1841 - Grunert</li>
                        </ul>
                    </li>
                    <li>
                        Epipolar geometry
                        <ul>
                            <li>1862 - Terrero</li>
                            <li>1883 - Hauck</li>
                            <li>1899 - Finsterwalder</li>
                        </ul>
                    </li>
                    <li>
                        Trifocal geometry
                        <ul>
                            <li>1883 - Hauck</li>
                        </ul>
                    </li>
                    <li>
                        Motion estimation
                        <ul>
                            <li>1880 - Schroter: 4 point problem for coplanar object points</li>
                            <li>1913 - Kruppa: 5 point problem</li>
                            <li>2003 - Nister: first algorithm for the 5 point problem that gives at most 10 solutions</li>
                        </ul>
                    </li>
                    <li>
                        3D modeling from a single image
                        <ul>
                            <li>~1800 - Laussedat</li>
                            <li>1883 - Hauck</li>
                            <li>1892 - Meydenbauer</li>
                        </ul>
                    </li>
                    <li>
                        3D reconstruction from uncalibrated images & projective reconstruction
                        <ul>
                            <li>1883 - Hauck</li>
                            <li>1899 - Finsterwalder</li>
                        </ul>
                    </li>
                    <li>
                        Camera self-calibration
                        <ul>
                            <li>1892 - Meydenbauer</li>
                            <li>1899 - Finsterwalder</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>