<header>
    <div class="container-fluid rellax" data-rellax-speed="-7">
        <div class="row">
            <div class="home_overlay col-md-12 text-center text-white">
                <div class="text rellax"  data-rellax-speed="2">
                    <h1>AliceVision</h1>
                    <p class="lead">Photogrammetric Computer Vision Framework</p>
                    <ul class="list-unstyled" style="margin-bottom: 100px;">
                        <li>3D Reconstruction</li>
                        <li>Photomodeling</li>
                        <li>Camera Tracking</li>
                    </ul>
                    <h4 class="text-center">
                        <a href="https://groups.google.com/forum/#!forum/alicevision" target="_blank" title="Mailing List"><i class="fas fa-3x fa-comments text-white m-2" style="vertical-align:middle;"></i></a>
                        <a href="https://sketchfab.com/AliceVision" target="_blank" title="Sketchfab"><img src="img/logos/sketchfab_bw.png" style="width:68px;height:68px;opacity:1;vertical-align:middle;margin-left: 5px;margin-right: 5px"></a>
                        <a href="https://twitter.com/alicevision_org" target="_blank" title="Twitter"><i class="fab fa-3x fa-twitter text-white m-2" style="vertical-align:middle;">&nbsp;&nbsp;</i></a>
                        <a href="https://www.linkedin.com/groups/13573776" target="_blank" title="Linkedin"><i class="fab fa-3x fa-linkedin text-white m-2" style="vertical-align:middle;">&nbsp;&nbsp;</i></a>
                        <a href="https://www.youtube.com/c/AliceVisionOrg" target="_blank" title="Youtube"><i class="fab fa-3x fa-youtube text-white m-2" style="vertical-align:middle;">&nbsp;&nbsp;</i></a>
                    </h4>                 
                </div>
            </div>
        </div>
    </div>
</header>

<section class="photogrammetry_pipeline">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Photogrammetry Pipeline</h1>
                <p>Photogrammetry is the science of making measurements from photographs. It infers the geometry of a scene from a set of unordered photographies or videos. Photography is the projection of a 3D scene onto a 2D plane, losing depth information. The goal of photogrammetry is to reverse this process.</p>
                <p>The dense modeling of the scene is the result yielded by chaining two computer vision-based pipelines:<br/>“Structure-from-Motion” (SfM) and “Multi View Stereo” (MVS).</p>
                <p>Learn more about each step of the <a href="#photogrammetry">photogrammetry pipeline</a>.</p>
            </div>
        </div>
        <div id="av-carousel" class="owl-carousel owl-theme">
            <div class="item img-responsive"><img src="img/usecases/culturalHeritage.png"></div>
            <div class="item img-responsive"><img src="img/usecases/cinema.png"></div>
            <div class="item img-responsive"><img src="img/usecases/entomology.png"></div>
        </div>
    </div>
</section>

<section class="sponsors_and_partners">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card default-color z-depth-2">
                    <h1 class="text-center" style="margin-bottom: 40px; margin-top: 40px;">Sponsors and Partners</h1>
                    <h4 class="text-center" style="margin-bottom: 20px; margin-top: 40px>
                        <a href="https://www.technicolor.com/" target="_blank" title="Technicolor"><img src="img/logos/technicolor-logo.png" style="height:68px;opacity:1;vertical-align:middle;margin-left: 5px;margin-right: 5px"></a>
                        <a href="https://www.epicgames.com/" target="_blank" title="Technicolor"><img src="img/logos/epic_games_logo.png" style="width:68px;height:68px;opacity:1;vertical-align:middle;margin-left: 5px;margin-right: 5px"></a>
                    </h4>     
                    <h4 class="text-center" style="margin-bottom: 40px; margin-top: 40px>
                        <a href="https://www.mikrosimage.com/" target="_blank" title="Mikros Image"><img src="img/logos/mikros-noir.png" style="width:68px;opacity:1;vertical-align:middle;margin-left: 5px;margin-right: 5px"></a>
                        <a href="http://people.ciirc.cvut.cz/~pajdla" target="_blank" title="CTU"><img src="img/logos/logo_CTU.jpg" style="height:68px;opacity:1;vertical-align:middle;margin-left: 5px;margin-right: 5px"></a>
                         <a href="https://www.simula.no/" target="_blank" title="Simula"><img src="img/logos/simula_new-logo.png" style="width:68px;opacity:1;vertical-align:middle;margin-left: 5px;margin-right: 5px"></a>
                        <a href="http://www.inp-toulouse.fr/" target="_blank" title="INP"><img src="img/logos/inp_300x300.png" style="height:68px;opacity:1;vertical-align:middle;margin-left: 5px;margin-right: 5px"></a>
                    </h4>     
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <h4 class="text-center">
                <p>If you are part of an institution or company using AliceVision or Meshroom, <br/>please consider becoming a <a href="https://alicevision.org/association/#donate">corporate sponsor</a> of ALICEVISION Association.</p>
                </h4>
            </div>
        </div>
    </div>
</section>

<section class="meshroom_features">
    <div class="container rellax_center" data-rellax-speed="5" style="transform: translate3d(0px, 3%, 0px);">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    <img width="100" src="img/meshroom/logo_meshroom.png" style="margin: 1em;"> <span style="display: block;">Meshroom Software</span>
                </h1>
            </div>
        </div>

        <div class="row feature-container">
            <div class="col-xs-12 col-md-4 feature-text">
                <h2 class="text-center">Photogrammetry Workflow</h2>
                <div>
                    <ul>
                        <li>High Quality 3D Models</li>
                        <li>Use GPUs to combine High Quality with Performance</li>
                        <li>Scalable solution (>1K Images)</li>
                        <li>Nodal Editor with Caching Mechanism</li>
                        <li>Augment a solved Structure-From-Motion with new images</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 feature-img">
                <img class="img-responsive" src="img/meshroom/buddha_dataset.png">
            </div>
        </div>

        <div class="row feature-container">
            <div class="col-xs-12 col-md-4 feature-text">
                <h2 class="text-center">Post-processing and Retexturing</h2>
                <div>
                    <ul>
                        <li>Decimate your mesh</li>
                        <li>Retexture your mesh in Meshroom after retopology in Blender, ZBrush, Maya, ...</li>
                        <li>Use Custom UVs or automatically generate them</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 feature-img">
                <img class="img-responsive" src="img/meshroom/retexture_decimate.gif">
            </div>
        </div>

        <div class="row feature-container">
            <div class="col-xs-12 col-md-4 feature-text">
                <h2 class="text-center">HDR Panorama Workflow</h2>
                <div>
                    <ul>
                        <li>Fusion of Multi-bracketing LDR images into HDR</li>
                        <li>Alignment of panorama images</li>
                        <li>Support for fisheye optics</li>
                        <li>Automatically estimate fisheye circle or manually edit it</li>
                        <li>Take advantage of motorized-head file</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 feature-img">
                <img class="img-responsive" src="img/meshroom/hdri_fisheye.jpg">
            </div>
        </div>

        <div class="row feature-container">
            
            <div class="col-xs-12 col-md-4 feature-text">
                <h2 class="text-center">Render Farm submission</h2>
                <div>
                    <ul>
                        <li>Easy to integrate in your Renderfarm System</li>
                        <li>Add specific rules to select the most suitable machines regarding CPU, RAM, GPU requirements of each Node</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 feature-img">
                <img class="img-responsive" src="img/meshroom/renderfarm.png">
            </div>
        </div>

        <div class="row feature-container">
            <div class="col-xs-12 col-md-4 feature-text">
                <h2 class="text-center">Custom Pipelines</h2>
                <div>
                    <ul>
                        <li>You can create custom pipelines and use it as a default template</li>
                        <li>It is a fully Open Source nodal workflow, so you can enter into the code and customize some steps to specific needs without re-creating a full pipeline</li>
                        <li>Contact us for specific customizations</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 feature-img">
                <img class="img-responsive" src="img/meshroom/custom_pipeline.png">
            </div>
        </div>

        <div class="row">
            <div class="try-meshroom ">
                <a href="#meshroom" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button">
                    <img class="img-responsive" src="img/meshroom/logo_meshroom.png">TRY MESHROOM NOW
                </a>
            </div>
 
            <div class="col-md-2 col-md-offset-4 col-xs-6 join-us">
                <a target="_blank" href="https://groups.google.com/forum/#!forum/alicevision">
                    <i class="fas fa-comments" style="font-size: 3em;"></i><br/>Join the Community
                </a>
            </div>
 
            <div class="col-md-2 col-xs-6 join-us">
                <a target="_blank" href="https://github.com/alicevision/meshroom">
                    <i class="fab fa-github" style="font-size: 3em;"></i><br/>Contribute on Github
                </a>
            </div>
        </div>
        
    </div>
</section>

<section class="software_libraries">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Software Integrations <a name="integrations"></a>
                </h1>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/meshroom2blender.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">Blender Plugins</h2>
                        <span class="pmd-card-subtitle-text">Setup Blender from your Meshroom scene</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>Import the result of your reconstruction in Blender for retopology and import your optimized model back into Meshroom for Texturing.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="https://github.com/SBCV/Blender-Addon-Photogrammetry-Importer" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Photog Addon</span></a>
                        <a target="_blank" href="https://github.com/tibicen/meshroom2blender" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Meshroom2Blender</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/mayamvg.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">Maya Plugin</h2>
                        <span class="pmd-card-subtitle-text">Photomodeling plugin for Autodesk © Maya</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>MeshroomMaya allows graphic artists to do photomodeling on top of a 3D reconstruction (point cloud and cameras) with pixel precision.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="https://github.com/alicevision/MeshroomMaya" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/houdini.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">Houdini Plugin</h2>
                        <span class="pmd-card-subtitle-text">AliceVision in Game Development Toolset</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>This plugin, created by SideFX, allows you to perform 3D reconstruction with AliceVision engine directly in Houdini.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="https://github.com/sideeffects/GameDevelopmentToolset" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                        <a target="_blank" href="https://www.sidefx.com/tutorials/alicevision-plugin" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-globe"></i><span>Website</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Libraries</h1>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/aliceVision.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">AliceVision</h2>
                        <span class="pmd-card-subtitle-text">Photogrammetric Computer Vision framework</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>AliceVision is a Photogrammetric Computer Vision framework for 3D Reconstruction and Camera Tracking.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="https://github.com/alicevision/AliceVision" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/cctag.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">CCTag</h2>
                        <span class="pmd-card-subtitle-text">Concentric Circles Tag</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>This library detects and identifies CCTag markers with sub-pixel precision while being largely robust to challenging shooting conditions.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="https://github.com/alicevision/CCTag" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/popsift.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">PopSIFT</h2>
                        <span class="pmd-card-subtitle-text">Scale-Invariant Feature Transform (SIFT)</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>This library provides a GPU implementation of SIFT. It can perform at 25 fps on HD images on recent graphic cards.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="https://github.com/alicevision/popsift" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="results">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Results</h1>
            </div>
            <div class="col-md-6">
                <div class="sketchfab-embed-wrapper">
                    <iframe  width="100%" height="400px" src="https://sketchfab.com/models/b8576a61715a4feabd9637215eeb2e05/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sketchfab-embed-wrapper">
                    <iframe  width="100%" height="400px" src="https://sketchfab.com/models/791850b543fe4616b26a08bbc0134bad/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="https://sketchfab.com/AliceVision" target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary strong_margin" type="button">
                    <span>See More Results</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="open_source">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card default-color z-depth-2">
                    <h1 class="text-center">Open Source</h1>
                    <p>We build a fully integrated software for 3D reconstruction, photomodeling and camera tracking. We aim to provide a strong software basis with state-of-the-art computer vision algorithms that can be tested, analyzed and reused. Links between academia and industry is a requirement to provide cutting-edge algorithms with the robustness and the quality required all along the visual effects and shooting process.<br><br/>
                        This open approach enables both us and other users to achieve a high degree of integration and easy customisation for any studio pipeline.
                    </p>
                    <p>Beyond our project objectives, open source is a way of life. We love to exchange ideas, improve ourselves while making improvements for other people and discover new collaboration opportunities to expand everybody’s horizon.</p>
                    <h1 class="text-center" style="margin-bottom: 0px; margin-top: 40px;">Follow Us</h1>
                    <h4 class="text-center">
                        <a href="https://groups.google.com/forum/#!forum/alicevision" target="_blank" title="Mailing List"><i class="fas fa-3x fa-comments text-white m-2" style="vertical-align:middle;"></i></a>
                        <a href="https://sketchfab.com/AliceVision" target="_blank" title="Sketchfab"><img src="img/logos/sketchfab_bw.png" style="width:68px;height:68px;opacity:1;vertical-align:middle;margin-left: 5px;margin-right: 5px"></a>
                        <a href="https://twitter.com/alicevision_org" target="_blank" title="Twitter"><i class="fab fa-3x fa-twitter text-white m-2" style="vertical-align:middle;">&nbsp;&nbsp;</i></a>
                        <a href="https://www.linkedin.com/groups/13573776" target="_blank" title="Linkedin"><i class="fab fa-3x fa-linkedin text-white m-2" style="vertical-align:middle;">&nbsp;&nbsp;</i></a>
                        <a href="https://www.youtube.com/c/AliceVisionOrg" target="_blank" title="Youtube"><i class="fab fa-3x fa-youtube text-white m-2" style="vertical-align:middle;">&nbsp;&nbsp;</i></a>
                    </h4>     
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/rellax.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#av-carousel").owlCarousel({
            loop: true,
            navigation: false, // Show next and prev buttons
            smartSpeed:1000,
            items : 1,
            itemsDesktop : false,
            itemsDesktopSmall : false,
            itemsTablet: false,
            itemsMobile : false,
            autoplay:true,
            autoplayTimeout:4000,
            autoplayHoverPause:false
        });

        //navbar events
        $('.navbar-collapse li').on('click', function(){
            $('.navbar-collapse').collapse('hide');
            });

        $(document).click(function(e) {
            if (!$(e.target).is('.navbar-collapse')) {
                $('.navbar-collapse').collapse('hide');        
            }
        });
    });

    var rellax = new Rellax('.rellax', {
    });
    var rellax_center = new Rellax('.rellax_center', {
        center: true
    });
</script>
