<header>
    <div class="container-fluid">
        <div class="row">
            <div class="carousel_overlay col-md-12 text-center text-white">
                <div class="text">
                    <h1>AliceVision</h1>
                    <p class="lead">Photogrammetric Computer Vision Framework</p>
                    <ul class="list-unstyled">
                        <li>3D Reconstruction</li>
                        <li>Photomodeling</li>
                        <li>Camera Tracking</li>
                    </ul>
                </div>
            </div>
            <div id="av-carousel" class="owl-carousel owl-theme">
                <div class="item img-responsive"><img src="img/result/home_buddha.jpg"></div>
                <div class="item img-responsive"><img src="img/result/home_monstree.jpg"></div>
                <div class="item img-responsive"><img src="img/result/home_lion.jpg"></div>
            </div>
        </div>
    </div>
</header>
<section class="white_panel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Photogrammetry Pipeline</h1>
                <p>Photogrammetry is the science of making measurements from photographs. It infers the geometry of a scene from a set of unordered photographies or videos. Photography is the projection of a 3D scene onto a 2D plane, losing depth information. The goal of photogrammetry is to reverse this process.</p>
                <p>The dense modeling of the scene is the result yielded by chaining two computer vision-based pipelines:<br/>“Structure-from-Motion” (SfM) and “Multi View Stereo” (MVS).</p>
                <h3 class="text-center">Learn more about each step of the photogrammetry pipeline:</h3>
                <div class="text-center strong_margin">
                    <a class="btn pmd-btn-raised pmd-ripple-effect btn-primary" href="#photogrammetry">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Software & Libraries</h1>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/meshroom.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">Meshroom</h2>
                        <span class="pmd-card-subtitle-text">3D Reconstruction Software</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>Meshroom allows you to run the whole photogrammetric pipeline. Put your images and it will generate a textured mesh automatically.</p>
                    </div>
                    <div class="pmd-card-actions">                      
                        <a target="_blank" href="https://github.com/alicevision/meshroom" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                        <a target="_blank" href="https://youtu.be/v_O6tYKQEBA" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-youtube fa-lg"></i><span>Demo</span></a>
                        <a target="_blank" href="https://alicevision.github.io/#meshroom" class="btn pmd-btn-raised pmd-ripple-effect btn-primary"><i class="fa fa-arrow-circle-down"></i><span>Download</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/mayamvg.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">MeshroomMaya</h2>
                        <span class="pmd-card-subtitle-text">Photomodeling plugin for Autodesk © Maya</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>MeshroomMaya allows graphic artists to do photomodeling on top of a 3D reconstruction (point cloud and cameras) with pixel precision.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="https://github.com/alicevision/MeshroomMaya" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/ofxmvg.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">ofxMVG</h2>
                        <span class="pmd-card-subtitle-text">Camera Localization OpenFX Plugin for Nuke</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>The CameraLocalizer plugin estimates the camera pose of an image regarding an existing 3D reconstruction generated by Meshroom.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="http://github.com/alicevision/ofxMVG" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/aliceVision.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">AliceVision</h2>
                        <span class="pmd-card-subtitle-text">Photogrammetric Computer Vision framework</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>AliceVision is a Photogrammetric Computer Vision framework for 3D Reconstruction and Camera Tracking.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="https://github.com/alicevision/AliceVision" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/cctag.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">CCTag</h2>
                        <span class="pmd-card-subtitle-text">Concentric Circles Tag</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>This library allows you to detect and identify CCTag markers. Such marker system can deliver sub-pixel precision while being largely robust to challenging shooting conditions.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="https://github.com/alicevision/CCTag" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/popsift.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">PopSIFT</h2>
                        <span class="pmd-card-subtitle-text">Scale-Invariant Feature Transform (SIFT)</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>This library provides a GPU implementation of SIFT. 25 fps on HD images on recent graphic cards.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a target="_blank" href="https://github.com/alicevision/popsift" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i><span>Github</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gray_panel">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Results</h1>
            </div>
            <div class="col-md-6">
                <div class="sketchfab-embed-wrapper">
                    <iframe  width="100%" height="400px" src="https://sketchfab.com/models/b8576a61715a4feabd9637215eeb2e05/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sketchfab-embed-wrapper">
                    <iframe  width="100%" height="400px" src="https://sketchfab.com/models/791850b543fe4616b26a08bbc0134bad/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="https://sketchfab.com/AliceVision" target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary strong_margin" type="button">
                    <span>See More Results</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="white_panel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card default-color z-depth-2">
                    <h1 class="text-center">Open Source</h1>
                    <p>We build a fully integrated software for 3D reconstruction, photomodeling and camera tracking. We aim to provide a strong software basis with state-of-the-art computer vision algorithms that can be tested, analyzed and reused. Links between academia and industry is a requirement to provide cutting-edge algorithms with the robustness and the quality required all along the visual effects and shooting process.<br><br/>
                        This open approach enables both us and other users to achieve a high degree of integration and easy customisation for any studio pipeline.
                    </p>
                    <p>Beyond our project objectives, open source is a way of life. We love to exchange ideas, improve ourselves while making improvements for other people and discover new collaboration opportunities to expand everybody’s horizon.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function(){
        $("#av-carousel").owlCarousel({
            loop: true,
            navigation: false, // Show next and prev buttons
            smartSpeed:1000,
            items : 1,
            itemsDesktop : false,
            itemsDesktopSmall : false,
            itemsTablet: false,
            itemsMobile : false,
            autoplay:true,
            autoplayTimeout:4000,
            autoplayHoverPause:false
        });
    });
</script>
