<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-white">
                <h1>Alice Vision</h1>
                <p class="lead">A Photogrammetric Computer Vision Library</p>
                <ul class="list-unstyled">
                    <li>3D Reconstruction</li>
                    <li>Photomodeling</li>
                    <li>Camera Tracking</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="white_panel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Photogrammetry Pipeline</h1>
                <p>Photogrammetry is the science of making measurements from photographs. It infers the geometry of a scene from a set of unordered photographies or videos. Photography is the projection of a 3D scene onto a 2D plane, losing depth information. The goal of photogrammetry is to reverse this process.</p>
                <p>The dense modeling of the scene is the result yielded by chaining two computer vision-based pipelines:<br/>“Structure-from-Motion” (SfM) and “Multi View Stereo” (MVS).</p>
                <!--
                <h3 class="text-center">Learn more about each step of the photogrammetry pipeline:</h3>
                <div class="text-center strong_margin">
                    <a class="btn btn-primary waves-effect waves-light" href="#photogrammetry">Learn more</a>
                </div>
                -->
            </div>
        </div>
    </div>
</section>
<section class="shattered_panel">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Software & Libraries</h1>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/meshroom.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">Meshroom</h2>
                        <span class="pmd-card-subtitle-text">3D Reconstruction Software</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>Meshroom allows you to run the whole photogrammetric pipeline. Put your images and it will generate a textured mesh automatically.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <div class="btn pmd-btn-raised pmd-ripple-effect btn-default" type="button"><span>Coming soon</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/mayamvg.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">Maya MVG</h2>
                        <span class="pmd-card-subtitle-text">Photomodeling plugin for Autodesk © Maya</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>MayaMVG allows graphic artists to do photomodeling on top of a 3D reconstruction (point cloud and cameras) with pixel precision.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a href="http://github.com/alicevision/mayaMVG" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i> <span>Github</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/ofxmvg.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">ofxMVG</h2>
                        <span class="pmd-card-subtitle-text">Camera Localization OpenFX Plugin for Nuke</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>The CameraLocalizer plugin estimates the camera pose of an image regarding an existing 3D reconstruction generated by Meshroom.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a href="http://github.com/alicevision/ofxMVG" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i> <span>Github</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/openmvg.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">OpenMVG</h2>
                        <span class="pmd-card-subtitle-text">Open Multiple View Geometry</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>OpenMVG library solves classical problems in Multiple View Geometry and provides a full Structure-from-Motion pipeline with a strong focus on accuracy.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a href="https://github.com/alicevision/openMVG" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i> <span>Github</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/cctag.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">CCTag</h2>
                        <span class="pmd-card-subtitle-text">Concentric Circles Tag</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>This library allows you to detect and identify CCTag markers. Such marker system can deliver sub-pixel precision while being largely robust to challenging shooting conditions.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a href="https://github.com/alicevision/CCTag" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i> <span>Github</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <img class="img-responsive" src="img/product/popsift.jpg">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">PopSIFT</h2>
                        <span class="pmd-card-subtitle-text">Scale-Invariant Feature Transform (SIFT)</span>
                    </div>
                    <div class="pmd-card-body">
                        <p>This library provides a GPU implementation of SIFT. 25 fps on HD images on recent graphic cards.</p>
                    </div>
                    <div class="pmd-card-actions">
                        <a href="https://github.com/alicevision/popsift" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="fa fa-github"></i> <span>Github</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Results</h1>
        </div>
        <div class="col-md-6">
            <div class="sketchfab-embed-wrapper">
                <iframe  width="100%" height="400px" src="https://sketchfab.com/models/0d38fbbf35ce44d085e2ec18368942df/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="sketchfab-embed-wrapper">
                <iframe  width="100%" height="400px" src="https://sketchfab.com/models/fc663c87832f4cf983ac8c21f89c735a/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="https://sketchfab.com/AliceVision" target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary strong_margin" type="button">
                <span>See More Results</span>
            </a>
        </div>
    </div>
</section>
<section class="white_panel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card default-color z-depth-2">
                    <h1 class="text-center">Open Source</h1>
                    <p>We build a fully integrated software for 3D reconstruction, photomodeling and camera tracking. We aim to provide a strong software basis with state-of-the-art computer vision algorithms that can be tested, analyzed and reused. Links between academia and industry is a requirement to provide cutting-edge algorithms with the robustness and the quality required all along the visual effects and shooting process.<br><br/>
                        This open approach enables both us and other users to achieve a high degree of integration and easy customisation for any studio pipeline.
                    </p>
                    <p>Beyond our project objectives, open source is a way of life. We love to exchange ideas, improve ourselves while making improvements for other people and discover new collaboration opportunities to expand everybody’s horizon.</p>
                </div>
            </div>
        </div>
    </div>
</section>
