<section class="blue_panel" style="padding-top: 0;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 text-meshroom">
                <img class="img-responsive" src="img/product/anim-meshroom-once.gif">
                <h2 class="bottom_margin" style="margin-top: 0;">OPEN SOURCE<br>PHOTOGRAMMETRY SOFTWARE</h2>
            </div> 
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2"> 
               <iframe width="560" height="315" src="https://www.youtube.com/embed/v_O6tYKQEBA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> 
        </div>
        <div class="row text-center" style="margin-top: 2rem;">
            <div class="col-md-8 col-md-offset-2"> 
                <p>
                    Meshroom is a free, open-source 3D Reconstruction Software based on the AliceVision framework.
                </p>
            </div> 
        </div>
        <div class="row text-center" style="margin-top: 0.5rem;">
            <div class="col-md-8 col-md-offset-2"> 
                <a target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" href="https://www.fosshub.com/Meshroom.html?dwl=Meshroom-2019.1.0-win64.zip"><i class="fa fa-windows"></i><span>Meshroom 2019.1.0 64-bit</span></a>
            </div> 
        </div>
        <div class="row text-center" style="margin-top: 0.5rem;">
           <div class="col-md-8 col-md-offset-2"> 
                <a target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" href="https://www.fosshub.com/Meshroom.html?dwl=Meshroom-2019.1.0-linux.tar.gz"><i class="fa fa-linux"></i> <span>Meshroom 2019.1.0 64-bit</span></a>
            </div> 
        </div>
        <div class="row text-center" style="margin-top: 0.5rem;">
            <div class="col-md-8 col-md-offset-2"> 
                <a target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" href="https://github.com/alicevision/meshroom"><i class="fa fa-github"></i><span>Github</span></a>
            </div> 
        </div>
    </div>
</section>
