<section class="blue_panel">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 text-meshroom">
                <img class="img-responsive" src="img/product/anim-meshroom-once.gif">
                <h2 class="bottom_margin">OPEN SOURCE<br>PHOTOGRAMMETRY SOFTWARE</h2>
            </div>
            <div class="col-md-8 col-md-offset-2"> 
                <a target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" href="https://github.com/alicevision/meshroom"><i class="fa fa-github"></i><span>Github</span></a>
                <a target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" href="https://youtu.be/v_O6tYKQEBA"><i class="fa fa-youtube fa-lg"></i> <span>Demo</span></a>
                <a target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" href="https://github.com/alicevision/meshroom/releases/tag/v2018.1.0"><i class="fa fa-arrow-circle-down"></i><span>Download Software</span></a>
            </div> 
        </div>
    </div>
</section>
<section class="blue_panel">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2"> 
                <p>
                    Meshroom is a free, open-source 3D Reconstruction Software based on the AliceVision framework.
                </p>
            </div> 
        </div>
    </div>
</section>