<section class="blue_panel" style="padding-top: 0;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 text-meshroom">
                <img class="img-responsive" src="img/product/anim-meshroom-once.gif">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Meshroom is a free, open-source 3D Reconstruction Software based on the AliceVision framework.
                </p>
            </div>
            <div class="col-md-8 col-md-offset-2">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/v_O6tYKQEBA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row text-center" style="margin-top: 2rem;">
            <div class="col-md-8 col-md-offset-2" style="background-color:#208fcd;">
                <div class="pmd-card-title">
                    <a style="color:#333; display: block;width: 12em;margin: auto;border-radius: 5px;margin-top: 1em;margin-bottom: 1em;border: 1px solid #c7c7c7; background-color:white;" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=DTXKVT89NLZT6&amp;source=url" target="blank" class="btn btn-lg"><i class="fa fa-heart m-12" style="color:#EE6767">&nbsp;&nbsp;
                    </i>Make a Donation</a>

                    <span>
                        If you use and love AliceVision and Meshroom, please consider <strong>making a donation</strong> to help us build better and more efficient software.
                    </span>
                    <p style="margin-top: 1em;">
                        See <a target="_blank" href="./association" style="color:white; text-decoration: underline;">Association Website</a> for more information.
                    </p>
                </div>
            </div>
        </div>

            <div class="row" style="margin-top: 3em;">
                <div class="col-md-8 col-md-offset-2 text-center" style="background-color:#208fcd;  padding-bottom: 3em;">
                    <h2  style="margin: 1em;"> Download </h2>

                    <div class="col-md-6"> 
                        <a target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" href="https://www.fosshub.com/Meshroom.html?dwl=Meshroom-2020.1.1-win64.zip"><i class="fab fa-windows"></i><span>Meshroom 2020.1.1 64-bit</span></a>
                    </div>

                    <div class="col-md-6"> 
                        <a target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" href="https://www.fosshub.com/Meshroom.html?dwl=Meshroom-2020.1.0-linux-cuda10.tar.gz"><i class="fab fa-linux"></i> <span>Meshroom 2020.1.0 64-bit</span></a>
                    </div>

                    <!--<div class="col-md-4">
                        <a target="_blank" class="btn pmd-btn-raised pmd-ripple-effect btn-primary" href="https://github.com/alicevision/meshroom"><i class="fa fa-github"></i><span>Github</span></a>
                    </div>-->

                    <h3 class="pmd-card-title-text" style="margin-top: 5em;">Requirement</h3>
                    <span class="pmd-card-subtitle-text">NVIDIA CUDA-enabled GPU (built with cuda-10 compatible with compute capability 3.0 to 7.5)</span>

                    <h3 class="pmd-card-title-text" style="margin-top: 2em;">Linux</h3>
                    <span class="pmd-card-subtitle-text">On some distributions (e.g Ubuntu), you may have conflicts between native drivers and mesa drivers, resulting in an empty black window. In that case, you need to force usage of native drivers by adding them to the LD_LIBRARY_PATH: <code>LD_LIBRARY_PATH=/usr/lib/nvidia-340 ./Meshroom</code>
                    You may need to adjust the folder /usr/lib/nvidia-340 with the correct driver version.</span>


                </div> 
            </div>


        
        <br/>
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 text-meshroom">
                <hr/>
                <h2 class="bottom_margin">MORE RESOURCES ON PHOTOGRAMMETRY WITH MESHROOM</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 text-meshroom text-center">
                <a target="_blank" href=https://sketchfab.com/blogs/community/tutorial-meshroom-for-beginners>
                    <img class="img-responsive" width="560" src="img/product/tutorial-sketchfab.jpg">
                    <h2 class="bottom_margin text-center" style="position: absolute; bottom: 8px; left: 50%; width: 100%; transform: translate(-50%, 0%); color:white">
                        Tutorial: Meshroom for Beginners on Sketchfab Blog.
                    </h2>
                </a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/1D0EhSi-vvc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/k4NTf0hMjtY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
