<section class="white_panel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Photogrammetry Pipeline</h1>
                <p>Photogrammetry is the science of making measurements from photographs. It infers the geometry of a scene from a set of unordered photographies or videos. Photography is the projection of a 3D scene onto a 2D plane, losing depth information. The goal of photogrammetry is to reverse this process.</p>
                <p>The dense modeling of the scene is the result yielded by chaining two computer vision-based pipelines:<br/>“Structure-from-Motion” (SfM) and “Multi View Stereo” (MVS).</p>
            </div>
        </div>
        <div class="row up_margin">
            <div class="col-md-8 col-md-offset-2">
                <div class="btn-group btn-group-justified">
                    <a role="button" class="btn pmd-ripple-effect btn-primary" data-toggle="tooltip" data-placement="bottom" title="Features Extraction"><i class="material-icons pmd-sm">track_changes</i></a>
                    <a role="button" class="btn pmd-ripple-effect btn-primary" data-toggle="tooltip" data-placement="bottom" title="Features Matching"><i class="material-icons pmd-sm">location_searching</i></a>
                    <a role="button" class="btn pmd-ripple-effect btn-primary" data-toggle="tooltip" data-placement="bottom" title="Image Matching"><i class="material-icons pmd-sm">compare</i></a>
                    <a role="button" class="btn pmd-ripple-effect btn-primary" data-toggle="tooltip" data-placement="bottom" title="Structure from Motion"><i class="material-icons pmd-sm">blur_on</i></a>
                    <a role="button" class="btn pmd-ripple-effect btn-primary" data-toggle="tooltip" data-placement="bottom" title="Depth Map Estimation"><i class="material-icons pmd-sm">filter</i></a>
                    <a role="button" class="btn pmd-ripple-effect btn-primary" data-toggle="tooltip" data-placement="bottom" title="Meshing"><i class="material-icons pmd-sm">format_paint</i></a>
                    <a role="button" class="btn pmd-ripple-effect btn-primary" data-toggle="tooltip" data-placement="bottom" title="Texturing"><i class="material-icons pmd-sm">camera_enhance</i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
