<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-2">
                    <h2>Informations</h2>
                    <a href="mailto:alicevision@googlegroups.com">Contact Us</a>
                    <a href="#contributing">Contributing</a>
                    <a href="#about">About Us</a>
                    <a href="#history">History</a>
                </div>
                <div class="col-md-2">
                    <h2>AliceVision</h2>
                    <a href="#photogrammetry">Step by Step</a>
                    <!--
                    <a href="https://alicevision.readthedocs.io/en/latest/"> Documentation</a>
                    -->
                    <a href="https://github.com/alicevision/AliceVision">Source Code</a>
                </div>
                <div class="col-md-2">
                    <h2>Meshroom</h2>
                    <a href="#meshroom">Download</a>
                    <a href="https://meshroom-manual.readthedocs.io/en/latest/">Manual</a>
                    <a href="https://github.com/alicevision/meshroom">Source Code</a>
                    
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h2>Partners</h2>
                    <a class="partner" href="http://www.mikrosimage.com/"><img src="img/partner/mikros.png"/></a>
                    <a class="partner" href="http://people.ciirc.cvut.cz/~pajdla"><img src="img/partner/ctu.png"/></a>
                    <a class="partner" href="https://www.simula.no/"><img src="img/partner/simula.png"/></a>
                    <a class="partner" href="http://www.inp-toulouse.fr"><img src="img/partner/inp.png"/></a>
                </div>
            </div>
        </div>
    </div>
</div>
