<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img height=40 src="img/logo.png"/></a>
    </div>
    <div id="nav_menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a class="pmd-ripple-effect" href="#">Home</a></li>
            <!--
            <li><a class="pmd-ripple-effect" href="#photogrammetry">Photogrammetry</a></li>
            <li><a class="pmd-ripple-effect" href="#history">History</a></li>
            <li><a class="pmd-ripple-effect" href="#softwares">Softwares</a></li>
            <li><a class="pmd-ripple-effect" href="#libraries">Libraries</a></li>
            -->
            <li><a class="pmd-ripple-effect" href="#results">Results</a></li>
            <li><a class="pmd-ripple-effect" href="#about">About Us</a></li>
        </ul>
    </div>
</div>
<div class="pmd-sidebar-overlay"></div>
